body {
  background-color: #242424 !important;
  place-items: center;
  height: 100%;
}

[id = "Popup Visible Area"] {
  border-color: white;
}

[class="btn btn-primary"]{
  display: flex;
  justify-content: center;
  align-items: center;
}